@page "/"

<PageTitle>Index</PageTitle>

<h2>Welcome to Intelligent Immersive Surveillance Systems</h2>
<br />

<img src="/img/system.png" style="width: 100%; display: block;" />


<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Made by HKLab, 2024. For inquiries, contact: </strong> <a href="mailto:hhchoi@hknu.ac.kr">hhchoi@hknu.ac.kr</a>
</div>